@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Bungee&family=Lilita+One&family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  background-color: rgb(249, 115, 22, 0.8);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .bottomFade {
    background: rgb(217, 218, 220);
    background: -moz-linear-gradient(
      0deg,
      rgba(217, 218, 220, 1) 0%,
      rgba(0, 212, 255, 0) 25%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(217, 218, 220, 1) 0%,
      rgba(0, 212, 255, 0) 25%
    );
    background: linear-gradient(
      0deg,
      rgba(217, 218, 220, 1) 0%,
      rgba(0, 212, 255, 0) 25%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9dadc",endColorstr="#00d4ff",GradientType=1);
  }

  .bottomFade2 {
    background: rgb(246,255,255);
    background: -moz-linear-gradient(0deg, rgba(246,255,255,1) 0%, rgba(29,32,33,0) 60%);
    background: -webkit-linear-gradient(0deg, rgba(246,255,255,1) 0%, rgba(29,32,33,0) 60%);
    background: linear-gradient(0deg, rgba(246,255,255,1) 0%, rgba(29,32,33,0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6ffff",endColorstr="#1d2021",GradientType=1); 
  }

  .topFade {
    background: rgb(240, 241, 243);
    background: -moz-linear-gradient(
      180deg,
      rgba(240, 241, 243, 1) 0%,
      rgba(29, 32, 33, 0) 25%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(240, 241, 243, 1) 0%,
      rgba(29, 32, 33, 0) 25%
    );
    background: linear-gradient(
      180deg,
      rgba(240, 241, 243, 1) 0%,
      rgba(29, 32, 33, 0) 25%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f1f3",endColorstr="#1d2021",GradientType=1);
  }

  .topFade2 {
    background: rgb(217,218,220);
    background: -moz-linear-gradient(180deg, rgba(217,218,220,1) 0%, rgba(29,32,33,0) 68%);
    background: -webkit-linear-gradient(180deg, rgba(217,218,220,1) 0%, rgba(29,32,33,0) 68%);
    background: linear-gradient(180deg, rgba(217,218,220,1) 0%, rgba(29,32,33,0) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9dadc",endColorstr="#1d2021",GradientType=1);  
  }

  ::selection {
    @apply bg-orange-500;
  }
  
  ._Shoulders {
    font-family: "Big Shoulders Text", cursive;
  }

  ._Bungee {
    font-family: "Bungee", cursive;
  }

  ._Lilita {
    font-family: "Lilita One", cursive;
  }

  ._Righteous {
    font-family: "Righteous", cursive;
  }

  .topPol {
    width: 0;
    border-bottom: 60px solid;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
  }

  .bottomPol {
    width: 0;
    border-top: 60px solid;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
  }

  .midPol {
    width: 0;
    border-bottom: 60px solid;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;

    width: 104px;
    height: 60px;

    width: 0;
    border-top: 60px solid;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
  }
}
